*{
    margin: 0;
    padding: 0;
}
/*navegar*/
#menu{   
    
    font-size: 20px;
    padding: 15px;
    text-align: center;
    background-color: #15C2B1;
    list-style: none;
  
}
 #menu li{
    
    padding: 30px;
    display:inline; 
}

#menu li a {
   
    color: rgb(16, 17, 17);
    text-decoration: none;
}
img{
    width: 80px;
}
/*SEÇÃO*/
h1{
    padding: 10px;
    
}
div p {
    padding: 10px 20px 30px;
    width: 700px;
}

span a{
    color: black;
    font-size: 17px;
    padding: 10px;
    text-decoration: none;
   
}
/*RODAPÉ*/
footer {
    
    color: rgb(10, 10, 10);
    font-size: 18px;
    padding: 20px;
    background-color: #15C2B1;
   
}
footer img  {
    width: 30px;
}

footer p{
    text-align: center;
}
footer div{
    text-align: center;
}
  
